<div class="row">

  <div class="col-4 text-start">
    <h3 class="mt-2"> {{ bankName }} </h3>
    <!-- <a class="btn btn-outline-danger "><i class="fas fa-sign-out-alt"></i> Tornilleria</a> -->
  </div>
  <div class="col-4 text-center">
    <div class="row">
      <div class="col">
        <h3 class="mt-2" style="font-size: 15px;"> {{ cajero }}</h3>
      </div>
    </div>
  </div>
  <div class="col-4 text-end mt-2">
    <a class="btn btn-outline-danger " data-bs-toggle="modal" data-bs-target="#cerrarCaja" (click)="detec()"><i
        class="fas fa-sign-out-alt"></i> Cerrar caja</a>
  </div>
</div>

<div class="modal fade" id="cerrarCaja" aria-labelledby="exampleModalToggleLabel" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel"> CERRAR CAJA
        </h5>
        <div class="btn-group">
          <a class="btn btn-primary btn-lg" (click)="detec()"><i class="fas fa-sync-alt"></i>
            Actualizar</a>
          <a class="btn" data-bs-dismiss="modal"><i class="fas fa-times"></i></a>
        </div>
      </div>
      <div class="modal-body">
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <div class="row justify-content-center align-content-center text-center">
          <div class="col-md-5 p-1">
            <div class="title text-start">
              <h4>Estadisticas Diarias</h4>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Tornilleria</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="dailyReport[0]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium   " type="button">Servicios</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control  " disabled [value]="dailyReport[1]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Refacciones</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="dailyReport[2]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Ferreteria</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="dailyReport[3]">
              </div>
            </div>

          </div>
          <div class="col-md-5 p-1">
            <div class="title text-start">
              <h4>Estadisticas Mensuales</h4>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Tornilleria</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="monthlyReport[0]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium   " type="button">Servicios</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control  " disabled [value]="monthlyReport[1]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Refacciones</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="monthlyReport[2]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Ferreteria</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="monthlyReport[3]">
              </div>
            </div>

          </div>
          <div class="col-md-5 p-1">
            <div class="title text-start">
              <h4>Estadisticas Generales</h4>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Tornilleria</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="generalReport[0]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium   " type="button">Servicios</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control  " disabled [value]="generalReport[1]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Refacciones</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="generalReport[2]">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Ferreteria</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="generalReport[3]">
              </div>
            </div>

          </div>
          <div class="col-md-5 p-1">
            <div class="title text-start">
              <h4>Estadisticas </h4>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Cajero</button>
                <a class="btn  btn-dark"><i class="fas fa-user-alt"></i></a>
                <input type="text" class="form-control " disabled [value]="this.cajero">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium   " type="button">Caja</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control" disabled [value]="this.import">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Entradas</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign"></i></a>
                <input type="text" class="form-control " disabled [value]="this.entrada">
              </div>
            </div>
            <div class="col-md-10 m-1 p-1">
              <div class="input-group">
                <button class="btn btn-dark text-white font-weight-medium " type="button">Salidas</button>
                <a class="btn  btn-dark"><i class="fas fa-dollar-sign "></i></a>
                <input type="text" class="form-control " disabled [value]="salida">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="cerrar()"><i class="fas fa-sign-out-alt"></i>
          Cerrar caja</a>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#cerrarCaja"></a>
