<div class="row m-0 vh-100">
  <div class="col-7 p-0 text-center d-flex justify-content-center align-items-center display-none">
    <img src="../../assets/svg/register2.svg" class="w-100">
  </div>
  <div class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100">
    <h5 class="form-label text-white container text-center">Crea tu cuenta Tornillos y Herramientas del Sureste</h5>
    <form autocomplete="off" class="w-75" ngNativeValidate [formGroup]="Formulario"
      (ngSubmit)="registrarUsuario($event)">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input formControlName="nombre" name="nombre" required type="text" class="form-control btn-lg" id="nombre"
              placeholder="Nombre" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input formControlName="apellidos" name="apellidos" required type="text" class="form-control btn-lg"
              id="apellidos" placeholder="Apellidos" required>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input (keyup)="notSpace('correo')" formControlName="correo" name="correo" required type="text" class="form-control btn-lg" id="correo"
          placeholder="Correo" required>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña</label>
            <div class="input-group">
              <input formControlName="contrasena" name="contrasena" required id="contrasena" type="password"
                Class="form-control btn-lg" placeholder="Contraseña">
              <div class="input-group-append">
                <a id="show_password" class="btn btn-lg btn-dark form-control btn-lg" (click)="showpass()"> <i
                    class="fa fa-eye-slash"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="contrasena2" class="form-label">Confirmar Contraseña</label>
            <div class="input-group">
              <input formControlName="contrasena2" name="contrasena2" required type="password"
                class="form-control btn-lg" id="contrasena2" placeholder="Confirmar Contraseña" required>
              <div class="input-group-append">
                <a id="show_password2" class="btn btn-lg btn-dark form-control btn-lg"> <i class="fa fa-eye-slash"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class=" btn btn-lg btn-custom btn-block mt-3"
        (click)="registrarUsuario($event)">Registrar</button>
      <button type="button" class=" btn btn-lg btn-custom btn-block mt-3" routerLink="/inicio">Iniciar Sesion</button>
    </form>
  </div>
</div>
