input[type=checkbox] {
  vertical-align: middle;
  float: left;
  width: 30px;
  height: 30px;
}
label {
  display: block;
  overflow: hidden;
  width: 135px;
  font-size: 22px;
  margin: inherit;
  text-align: end;
}
thead, tbody { display: block; width: 100%;}

tbody {
    height: 65vh;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
