<app-sidebar-menu bankName="Tickets"></app-sidebar-menu>
<div class="card m-3 p-3">
  <div class="input-group pt-2 mt-2">
    <input type="text" name="folio" placeholder="Ticket" class="form-control" [(ngModel)]="folio"
      (keypress)="search(this.folio)">
    <a class="btn btn-success btn-lg" (click)="search(this.folio)"><i class="fas fa-search btn-lg"></i></a>
    <a class="btn btn-primary btn-lg" (click)="readCollection()"><i class="fas fa-sync-alt btn-lg"></i></a>
  </div>
  <table class="table table-borderless pt-2 mt-2">
    <!-- <caption>Tickets</caption> -->
    <thead>
      <tr>
        <th scope="col">Folio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Total</th>
        <th scope="col">Fecha</th>
        <th scope="col">Imp</th>
        <th scope="col">Devol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collectionesAbono">
        <td scope="row" data-label="Folio">{{ item.folio }}</td>
        <td data-label="Tipo"> Abonos </td>
        <td data-label="Importe">${{ item.total }}</td>
        <td data-label="Fecha">{{ item.fecha | date: 'dd/MM/yy' }} </td>
        <td data-label="Imprimir"><a class="btn btn-outline-dark" data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal" (click)="load(item)"><i class="fas fa-print"></i></a></td>
        <td data-label="Eliminar"><a class="btn btn-outline-primary"
            (click)="this.delete(item.folio, item.especial, item.paga)" data-bs-target="#staticBackdrop"
            data-bs-toggle="modal"><i class="fas fa-trash"></i></a></td>
      </tr>
      <tr *ngFor="let item of collectionesContado; let i = index">
        <td scope="row" data-label="Folio">{{ (1+i) }}</td>
        <td data-label="Tipo"> Contado </td>
        <td data-label="Importe">${{ item.total }}</td>
        <td data-label="Fecha">{{ item.fecha | date: 'dd/MM/yy' }} </td>
        <td data-label="Imprimir"><a class="btn btn-outline-dark" data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal" (click)="load(item)"><i class="fas fa-print"></i></a></td>
        <td data-label="Eliminar"><a class="btn btn-outline-primary"
            (click)="this.delete(item.folio, item.especial, item.paga)" data-bs-target="#staticBackdrop"
            data-bs-toggle="modal"><i class="fas fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<app-ticket></app-ticket>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="card-title text-center">
            <div class="title h3">
              Estas Seguro Que Desea Eliminar El Ticket ?
            </div>
            <h5 class="h5 lead">Recuerde que al eliminar el ticket, usted tendra que devolver el dinero a la persona
              ya sea se manera total o parcial, u en dado caso con un vale. dependera mucho de la situacion y el
              porque se elimina el ticket</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="this.confirmarDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
