<div class="container">
  <div class="card">
    <div class="">
      <div class="row p-3 m-3">
        <div class="col-md-12">
          <!-- <h1></h1> -->
          <div class="input-group">
            <input type="text" class="form-control btn-lg">
            <a class="btn btn-primary btn-lg"><i class="fas fa-user-alt"></i></a>
          </div>
        </div>
      </div>
      <div class="row p-3 m-3">
        <table class="table table-borderless table-responsive">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Usuario</th>
              <th scope="col">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="row">Nicolas Rincon Mujica</td>
              <td>nicolas.rm540@gmail.com</td>
              <td class="badge bg-success" style="cursor:pointer;">Activo</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
