<div class="container col-md-11 col-md-auto col">
  <app-sidebar-menu bankName="Estadisticas - Reportes"></app-sidebar-menu>

  <div class="card mt-2">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let item of graficas | keyvalue; let i = index"
          [ngClass]="item.value.active">
          <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400">
            <h4 class="card-title mt-2 p-3">
              {{ (i + 1 )}} - {{ item.value.Legend }}

            </h4>
            <div class="chart d-block w-100">
              <canvas baseChart [data]="item.value.Data" [labels]="item.value.Labels" [chartType]="item.value.Type">
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- </div> -->