<!-- <div class="bd-example"> -->
<div class="modal fade" id="ModalBox" aria-labelledby="exampleModalToggleLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel"> {{ this._ticket.valores.titulo }}
        </h5>
        <button (click)="restablecer()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- <app-modalidad-pago></app-modalidad-pago> -->
          <div class="row mb-0">
            <div *ngFor="let modoPago of this._modoPago.modoPagos[0]; let i = index" class="col-3 offset-2">
              <div class="form-check btn-lg">
                <input autocomplete="off" required class="form-check-input big-checkbox" type="radio" [name]="modoPago.name"
                  [id]=" modoPago.id" (change)="onchange($event)" [checked]="modoPago.check">
                <label class="form-check-label" [for]="modoPago.id">
                  {{ modoPago.tipo }}
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-0">
            <div *ngFor="let modoPago of this._modoPago.modoPagos[1]" class="col-3 offset-2">
              <div class="form-check btn-lg">
                <input autocomplete="off" required class="form-check-input big-checkbox" type="radio" [name]="modoPago.name"
                  [id]=" modoPago.id" (change)="onchange($event)" [checked]="modoPago.check">
                <label class="form-check-label" [for]="modoPago.id">
                  {{ modoPago.tipo }}
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-0">
            <div *ngFor="let modoPago of this._modoPago.modoPagos[2]" class="col-3 offset-2">
              <div class="form-check btn-lg">
                <input autocomplete="off" required class="form-check-input big-checkbox" type="radio" [name]="modoPago.name"
                  [id]=" modoPago.id" (change)="onchange($event)" [checked]="modoPago.check">
                <label class="form-check-label" [for]="modoPago.id">
                  {{ modoPago.tipo }}
                </label>
              </div>
            </div>
          </div>
          <hr>
          <!-- <hr> -->
          <div class="offset-2">
            <div class="mb-0 col-9" *ngIf="this._ticket.valores.especial" >
              <label class="form-label">Num. Folio</label>
              <div class="input-group">
                <input autocomplete="off" required type="text" min="0" class="form-control btn-lg btn-lg" name="folio"
                  placeholder="Num. Folio" [(ngModel)]="this._ticket.valores.folio" (keyup)="operaciones()">
                  <!-- <a *ngIf="this._ticket.valores.especial" class="btn btn-danger btn-lg"><i class="fas fa-tools"></i></a> -->
                  <a class="btn btn-success btn-lg" (click)="readCollection()" ><i class="fas fa-search"></i></a>
              </div>
            </div>
            <div class="row mb-0">
              <div class="col-md-12">
                <label class="form-label">Total</label>
                <div class="row">
                  <div class="col-md-9">
                    <div class="input-group">
                      <a class="btn btn-lg btn-dark"><i class="fas fa-dollar-sign btn-lg"></i></a>
                      <input autocomplete="off" id="total" required type="number" step="0.01" min="0" class="form-control btn-lg btn-lg" name="total"
                        placeholder="Total" [(ngModel)]="this._ticket.valores.total" (keyup)="operaciones()" disabled>
                      <input autocomplete="off" *ngIf="this._ticket.valores.especial" required type="number" step="0.01" min="0" class="form-control btn-lg btn-lg" name="abonado"
                      placeholder="Abonado" [(ngModel)]="this._ticket.valores.Totalabonado" (keyup)="operaciones()" disabled>
                      <!-- <a *ngIf="this._ticket.valores.especial" class="btn btn-lg btn-dark"><i class="fas fa-money-check-alt btn-lg"></i></a> -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mb-0">
              <div id="idPaga" class="col-md-12" [ngClass]="this._box.mostrar.paga">
                <label class="form-label">Paga</label>
                <div class="row">
                  <div class="col-md-9">
                    <div class="input-group">
                      <a class="btn btn-lg btn-dark"><i class="fas fa-dollar-sign btn-lg"></i></a>
                      <input id="pagaClean" autocomplete="off" (click)="clean('pagaClean')" required type="number" step="0.01" min="0" [max]="this._ticket.valores.total"
                        class="form-control btn-lg btn-lg" name="paga" placeholder="Abono | Finiquita"
                        [(ngModel)]="this._ticket.valores.paga" (keyup)="operaciones()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-0">
              <div id="idPago" class="col-md-12" [ngClass]="this._box.mostrar.pago">
                <label class="form-label">Pago</label>
                <div class="row">
                  <div class="col-md-9">
                    <div class="input-group">
                      <a class="btn btn-lg btn-dark"><i class="fas fa-dollar-sign btn-lg"></i></a>
                      <input id="pagoClean" autocomplete="off" (click)="clean('pagoClean')" required type="number" step="0.01" min="0" class="form-control btn-lg btn-lg" name="pago"
                        placeholder="Pago" [(ngModel)]="this._ticket.valores.pago" (keyup)="operaciones()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-0">
              <div id="idResta" class="col-md-12" [ngClass]="this._box.mostrar.resta">
                <label class="form-label">Resta</label>
                <div class="row">
                  <div class="col-md-9">
                    <div class="input-group">
                      <a class="btn btn-lg btn-dark"><i class="fas fa-dollar-sign btn-lg"></i></a>
                      <input autocomplete="off" required type="number" step="0.01" min="0" class="form-control btn-lg btn-lg" name="resta"
                        placeholder="Resta" [(ngModel)]="this._ticket.valores.resta" disabled>
                      <input autocomplete="off" *ngIf="this._ticket.valores.especial" required type="number" step="0.01" min="0" class="form-control btn-lg btn-lg" name="resta"
                        placeholder="Resta" [(ngModel)]="this._ticket.valores.debe" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-0">
              <div id="idCambio" class="col-md-12" [ngClass]="this._box.mostrar.cambio">
                <label class="form-label">Cambio</label>
                <div class="row">
                  <div class="col-md-9">
                    <div class="input-group">
                      <a class="btn btn-lg btn-dark"><i class="fas fa-dollar-sign btn-lg"></i></a>
                      <input autocomplete="off" required type="number" step="0.01" min="0" class="form-control btn-lg btn-lg" name="cambio"
                        placeholder="Cambio" [(ngModel)]="this._ticket.valores.cambio" (keyup)="operaciones()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger btn-lg" data-bs-dismiss="modal"
          (click)="restablecer()">Cancelar</button>
        <button type="button" class="btn btn-lg btn-dark btn-lg" data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal" [disabled]="!this._ticket.valores.validate" (click)="data()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<app-ticket></app-ticket>
<!-- <app-notificaciones></app-notificaciones> -->

<!-- <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> -->
<!-- </div> -->
